<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Username:</label>
    <input id="nome" formControlName="nome" type="text" />
  </div>

  <div class="form-group">  
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email" />
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input id="senha" formControlName="senha" type="password" />
  </div>

  <button type="submit">Register</button>
</form>
